Data
CNN_and_Data_Loading_Notebook/predictions_training/
CNN_and_Data_Loading_Notebook/predictions_test/
CNN_and_Data_Loading_Notebook/model_checkpoint/
CNN_and_Data_Loading_Notebook/.py3_7_venv
CNN_and_Data_Loading_Notebook/predictions_test
CNN_and_Data_Loading_Notebook/predictions_test_With_Augm
CNN_and_Data_Loading_Notebook/model_checkpoint_without_augment
CNN_and_Data_Loading_Notebook/model_checkpoint_without_augment_test
CNN_and_Data_Loading_Notebook/predictions_test_without_augment